@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: theme("colors.void");
  font-family: theme("fontFamily.mono");
  color: theme("colors.stark");
}

svg {
  fill: currentColor;
}

button {
  outline: none;
}

/* MDX */

.mdx > * {
  padding-left: theme("padding.2");
}

.mdx > table {
  margin-left: theme("margin.2");
}

/* all headers */
.mdx > h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme("colors.stark");
  font-weight: theme("fontWeight.extrabold");
  width: theme("width.fit");
  margin-top: theme("margin.2");
}

.mdx > h1:before,
.mdx > h2:before,
.mdx > h3:before,
.mdx > h4:before,
.mdx > h5:before,
.mdx > h6:before {
  content: "# ";
  color: theme("colors.jewellight");
}

.mdx > h1 {
  font-size: theme("fontSize.2xl");
}

.mdx > h2 {
  font-size: theme("fontSize.xl");
}

.mdx > p {
  font-size: theme("fontSize.sm");
  width: theme("width.fit");
  margin-top: theme("margin.2");
  margin-bottom: theme("margin.2");
}

.mdx > * > a {
  color: theme("colors.jewellight");
  font-size: theme("fontSize.sm");
  width: theme("width.fit");
}

.mdx > * > a:hover {
  text-decoration: underline;
}

.mdx > * > li {
  list-style-type: square;
}

.mdx > * > code {
  font-family: monospace;
  background-color: theme("colors.neutralgray");
  padding: 0.2em 0.4em;
  border-radius: theme("borderRadius.md");
}
